*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
    padding: 17px;
    box-shadow: 0px 2px 2px 2px rgb(192, 191, 191);

}

body{
    background-color: #eeeeee;
}

ul{
    margin-right: 45px;
    margin-top: 7px;
   
}

nav ul li{
    list-style: none;
}

ul li a{
    margin-inline: 22px;
    font-size: 20px;
    text-decoration: none;

}
ul li i{
    font-size: 22px;
}

nav .logo{
    margin-left: 22px;
    font-size: 24px;
}

ul li #home{
    color: rgb(1, 190, 190);
}

ul li a:hover{
    border-bottom: 2px solid rgb(73, 73, 73);
    cursor: pointer;
}
ul li i:hover{
    cursor: pointer;
    color: gray;
}











.main{
    display: flex;
    justify-content: space-around;
}
.main .mainText{
    margin-top: 144px;
    
}
.main .mainText h1{
    font-size: 64px;
}
.mainText .top{
    color: rgb(4,138,138);
}
.mainText button{
    width: 145px;
    height: 40px;
    background-color: rgb(4,140,140);
    border: none;
    font-size: 22px;
    color: white;
    margin-top:24px ;

}

.mainText button:hover{
    border: 3px solid rgb(4, 168, 168);
    background-color: transparent;
    font-weight: 400;
    color: rgb(4, 168, 168);
    cursor: pointer;
}

.mainText p{
    margin-top: 12px;
}











.trend .head {
    text-align: center;
    padding: 33px;
    margin-top: 35px;
}
.trend .head {
    margin: auto;
}
.head span{
    color: rgb(1, 133, 133);
}

.card{
    display: flex;
    justify-content: center;
}

.card .crd{
    width: 300px;
    height: 500px;
    background-color: white;
    margin-inline:11px;
    padding: 22px;
    
}
.crd img{
    width:85% ;
    padding:22px ;
    border-radius:31px ;
    transition: 1.5s;
}

.crd img:hover{
    cursor: pointer;
    width: 90%;
}

.crd-Text{
    text-align: center;
}

.crd-Text button{
  width: 110px;
  height: 33px;
  border-radius:5px ;
  background-color: rgb(11, 141, 141);
  color: white;
  font-size: 19px;
  margin-top: 20px;
  border: none;


}
.crd-Text button:hover{
    background-color: rgb(185, 228, 228);
    color: rgb(14, 59, 59);
    cursor: pointer;
}
.crd-Text i{
    color: rgb(231, 179, 35);
    margin-top: 10px;
}
.crd-Text i:hover{
  color: rgb(160, 123, 22);
  cursor: pointer;
}
.crd-Text h2{
    font-family: cursive;
}









.blog{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 300px;
    background-color: white;
    margin-inline: 22px;
    border-radius: 11px;
    margin-top: 40px;
}

.blog:hover{
    transition: .6s ease;
    width: 520px;
    height: 320px;
    cursor: pointer;
}

.blog img{
    padding: 22px;
    width: 55%;
}

.blogText{
    padding: 22px;
    margin-top:33px ;
}

.blogText a{
    width: 130px;
    height: 18px;
    padding: 4px;
    background-color: rgb(4, 138, 138);
    color: white;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    top: 33px;
}
.blogText a:hover{
    background-color: rgb(185, 228, 228);
    color: rgb(14, 59, 59);
}

.blogText p{
    font-size: 1.04em;
    color: #606060;
    line-height: 1.86em;
    font-family: "Fira Sans";
    font-weight: 400;
    margin-top: 20px;
}
.trends{
    margin-top: 90px;
}
.head{
    margin-left: 550px;
}







.letter{
    display: flex;
    justify-content:space-between ;
    background-color: rgb(4,4 ,100 );
    color: white;
    padding: 43px;
    margin-top: 55px;
}

.inp{
    display: flex;
}
.inp input{
    width: 330px;
    height: 33px;
    outline: none;
    font-size: 18px;
    border: none;
}

.inp button{
    width: 100px;
    height: 33px;
    background-color: rgb( 2,173, 173);
    border: none;
    color: white;
}

.inp button:hover{
    background-color: rgb(13, 133, 133);
    color: rgb(14, 59, 59);
    cursor: pointer;
}







.footer{
    display: flex;
    justify-content: center;
    padding: 53px;
}

.footer .footerText{
    margin-inline: 75px;
}
.footerText p{
    margin-top: 11px;
    font-size: 1.04em;
    color: #606060;
    line-height: 1.86em;
    font-family: "Fira Sans";
    font-weight: 400;
}




/* about */
.about{
   display: none;
}
.aboutus{
    background-color: rgb(1, 1, 42);
    color: white;
    padding: 56px;
    font-size: 19px;
}
.me{
    display: flex;
    justify-content: center;
    width: 700px;
    background-color: #fff;
    padding: 33px;
    margin-left: 18%;
    margin-top: 7%;
}
.me img{
    width: 54%;
}





.contact{
    display: none;
}

.contactBanner{
    background-color: rgb(4, 4, 44);
    color: white;
    padding: 55px;
}
.connect{
    display: flex;
    justify-content: center;
    margin-top: 33px;
    
    
}
.connectText{
    background-color: #fff;
    padding: 53px;
}
.connectText p{
    margin-top: 21px;
}
.contact img{
    width: 50%;
}
.contact img:hover{
    width: 52%;
    transition: 0.8s ease;
    cursor: pointer;

}
.form{
    text-align: center;
    margin-top: 73px;
}
.form button{
    width: 340px;
    height: 40px;
    border: none;
    background-color: rgb(1, 87, 87);
    color: white;
    font-size: 22px;
    margin-top: 22px;
}
.form input{
    width: 320px;
    padding: 8px;
    outline: none;
    margin: 3px;
    margin-top: 11px;
}





.cart{
    display: flex;
    justify-content: center;
    display: none;
}

.cartText{
    padding: 22px;
    margin-top: 22px;
}
.cartText p{
    margin-top: 12px;

}
.cartText h2{
    margin-top: 11px;
}
.cartText .btn button{
    width: 144px;
    height: 40px;
    background-color: rgb(255, 89, 0);
    color: white;
    border: none;
    font-size: 22px;
    margin-inline: 11px;
    margin-top: 22px;

}

.cartText .back{
    width: 144px;
    height: 40px;
    background-color: rgb(4, 81, 81);
    color: white;
    border: none;
    font-size: 22px;
    margin-inline: 11px;
    margin-top: 22px;

}